<div class="navbar navbar-expand-lg navbar-light">
    <div class="text-center d-lg-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
            <i class="icon-unfold mr-2"></i>
            Cuối trang
        </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-footer">
        <span class="navbar-text">
            <a href="javascrip:;"><strong>Hệ thống quản lý thông tin</strong></a> &copy; 2020. Phát triển bởi <a href="https://mitechcenter.vn" target="_blank"><strong>Trung tâm CNTT và Ngoại ngữ</strong></a>
        </span>
    </div>
</div>