@model CMS.Areas.Identity.DTOs.UserForEditDTO

@{
    ViewData["Title"] = "Sửa tài khoản \"" + Model.Fullname + "\"";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <form asp-action="Edit">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">@ViewData["Title"]</h6>
            <div class="header-elements">
                <a href="javascript:;" onclick="resetPassword('@Model.Id'); return false;" class="text-primary">Khôi phục mật khẩu mặc định?</a>
            </div>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label class="control-label col-lg-3"><strong>Tài khoản</strong> <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <input asp-for="UserName" class="form-control" placeholder="Nhập tài khoản" readonly />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-lg-3"><strong>Họ tên</strong> <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <input asp-for="Fullname" class="form-control" placeholder="Nhập họ tên" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-lg-3"><strong>Đơn vị</strong> <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <select asp-for="UnitId" class="form-control" asp-items="ViewBag.UnitId"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-lg-3"><strong>Chức vụ</strong> <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <select asp-for="JobTitleId" class="form-control" asp-items="ViewBag.JobTitleId"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-lg-3"><strong>Phân quyền</strong> <span class="text-danger">*</span></label>
                <div class="col-lg-9">
                    <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-lg-3"><strong>Email</strong></label>
                <div class="col-lg-9">
                    <input asp-for="Email" class="form-control" placeholder="Nhập email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-lg-3"><strong>Điện thoại</strong></label>
                <div class="col-lg-9">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Nhập điện thoại" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-3"></label>
                <div class="col-lg-9">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Activated" /> <span>Kích hoạt tài khoản</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
            <a asp-action="Index" class="btn btn-light">Quay lại danh sách</a>
            <button type="submit" class="btn bg-blue legitRipple">Cập nhật</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function resetPassword(id) {
            swalInit.fire({
                title: "Khôi phục mật khẩu?",
                text: "Tài khoản này sẽ được khôi phục mật khẩu về mặc định là \"123456\". Bạn có chắc chắn muốn thực hiện?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Khôi phục",
                cancelButtonText: "Hủy bỏ",
                confirmButtonClass: "btn btn-danger",
                cancelButtonClass: "btn btn-dark",
                buttonsStyling: false,
                position: "top",
            })
            .then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ResetPassword", "Users", new { area = "Identity"})/' + id,
                        data: {
                            __RequestVerificationToken: _token()
                        },
                        dataType: "JSON",
                        success: function (res) {
                            if (res.status) {
                                showNotify(res.message, "success");
                            } else {
                                app.showNotify(res.message, "error");
                            }
                        },
                        error: function (res) {
                            console.log(res);
                        }
                    });
                }
            });
        }
    </script>
}
