@inject CMS.Helpers.ContextHelper ctxHelper
@using CMS.Helpers
@{   
}

<aside class="banner">
        <ul class="intro__list">
            <li class="intro__item">
                <a href="#" target="" title="E-Learning">
                    <img data-src="./assets/images/E-Learning-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
            </li>
            <li class="intro__item">
                <a href="#" target="" title="Tra cứu điểm thi">
                    <img data-src="./assets/images/tra-cuu-diem-thi-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
            </li>
            <li class="intro__item">
                <a href="#" target="" title="Câu hỏi thường gặp">
                    <img data-src="./assets/images/cau-hoi-thuong-gap-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
            </li>
            <li class="intro__item">
                <a href="#" target="" title="Hồ sơ tuyển sinh">
                    <img data-src="./assets/images/ho-so-tuyen-sinh-tcu.jpg" class="lazyload" alt="alt-image">
                </a>
            </li>
        </ul>
    </aside>
    <aside class="aside-featured">
        <div class="d-flex aside-title">
            <div class="flex-grow-1">
                <h4><span>Tin nổi bật</span></h4>
            </div>
            <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
            </div>
        </div>
        <div class="list-post">
            <article class="item full-thumb">
                <div class="image">
                    <a href="./chi-tiet-bai-viet.html" title="">
                        <img data-src="./assets/images/post-5.jpg" class="lazyload" alt="alt-image">
                    </a>
                </div>
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="image">
                    <a href="./chi-tiet-bai-viet.html" title="">
                        <img data-src="./assets/images/post-1.jpg" class="lazyload" alt="alt-image">
                    </a>

                </div>
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Trường Sĩ quan Thông tin tặng các trường học trên địa bàn máy rửa tay sát khuẩn tự động
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="image">
                    <a href="./chi-tiet-bai-viet.html" title="">
                        <img data-src="./assets/images/post-2.jpg" class="lazyload" alt="alt-image">
                    </a>

                </div>
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Trường Sĩ quan Thông tin: Hoàn thành tốt nhiệm vụ thực tập cuối khóa năm học 2019-2020
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="image">
                    <a href="./chi-tiet-bai-viet.html" title="">
                        <img data-src="./assets/images/post-3.jpg" class="lazyload" alt="alt-image">
                    </a>

                </div>
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Giảng viên Khoa Khoa học xã hội và nhân văn bảo vệ luận văn thạc sĩ năm 2020 tại Học viện Chính trị
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="image">
                    <a href="./chi-tiet-bai-viet.html" title="">
                        <img data-src="./assets/images/post-4.jpg" class="lazyload" alt="alt-image">
                    </a>
                </div>
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Tích cực đưa Trung tâm Công nghệ thông tin và Ngoại ngữ giai đoạn 2 vào hoạt động
                        </a>
                    </h3>
                </div>
            </article>
        </div>
    </aside>
    <aside class="aside-notice">
        <div class="d-flex aside-title">
            <div class="flex-grow-1">
                <h4><span>Thông báo đào tạo</span></h4>
            </div>
            <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
            </div>
        </div>
        <div class="list-post">
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                        </a>
                    </h3>
                </div>
            </article>
        </div>
    </aside>
    <aside class="aside-notice">
        <div class="d-flex aside-title">
            <div class="flex-grow-1">
                <h4><span>Thông báo tuyển sinh</span></h4>
            </div>
            <div class="align-self-center">
                <a class="read-more" href="./danh-sach-bai-viet.html" title="">Xem thêm<span>[+]</span></a>
            </div>
        </div>
        <div class="list-post">
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Trường Đại học Thông tin liên lạc thông báo tuyển sinh các lớp tiếng Nhật ngắn hạn
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Bộ Quốc phòng điều chỉnh thời gian sơ tuyển vì Covid-19
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Đề án tuyển sinh Trường Sĩ quan Thông tin năm 2020
                        </a>
                    </h3>
                </div>
            </article>
            <article class="item">
                <div class="title">
                    <h3>
                        <a href="./chi-tiet-bai-viet.html" title="">
                            Công bố phương thức tuyển sinh chính thức của các trường quân đội năm 2020
                        </a>
                    </h3>
                </div>
            </article>
        </div>
    </aside>