@model CMS.Areas.Identity.DTOs.AuthLoginDTO
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng nhập - TCU</title>
    <!-- Global stylesheets -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Login form -->
                <form class="login-form" asp-action="Login">
                    <input asp-for="ReturnUrl" type="hidden" />
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <a asp-action="Index" asp-controller="Home" asp-area=""><img src="~/logo.jpeg" alt="Logo" style="height: 100px; margin-bottom: 15px;" /></a>
                                <h5 class="mb-0">ĐĂNG NHẬP VÀO HỆ THỐNG</h5>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input asp-for="UserName" class="form-control" placeholder="Tài khoản" />
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                <input asp-for="Password" class="form-control" placeholder="Mật khẩu" />
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Remember" /> <span>Ghi nhớ tài khoản</span>
                                </label>
                            </div>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Đăng nhập <i class="icon-circle-right2 ml-2"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /login form -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>

</html>
