<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chọn tệp tin/hình ảnh</title>
        <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/themes/base/theme.min.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/elfinder/css/elfinder.min.css" />
        <link rel="stylesheet" href="~/lib/elfinder/css/theme.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/elfinder/windows-10/css/theme.css">
	</head>
	<body>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/elfinder/js/elfinder.min.js"></script>
        <script src="~/lib/elfinder/js/i18n/elfinder.vi.min.js"></script>
	    <!-- Element where elFinder will be created (REQUIRED) -->
		<div id="elfinder"></div>
    <script type="text/javascript">

     // Helper function to get parameters from the query string.
        function getUrlParam(paramName) {
            var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i') ;
            var match = window.location.search.match(reParam) ;

            return (match && match.length > 1) ? match[1] : '' ;
        }
        $(function () {
            var myCommands = elFinder.prototype._options.commands;

			var funcNum = getUrlParam('CKEditorFuncNum');

            var disabled = ['extract', 'archive', 'resize', 'help', 'select']; // Not yet implemented commands in ElFinder.Net

            $.each(disabled, function (i, cmd) {
                (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
            });

            var options = {
				url: '/AdminCp/el-finder/file-system/connector', // Default (Local File System)
				//url: '/el-finder/azure-storage/connector', // Microsoft Azure Connector
                rememberLastDir: true, // Prevent elFinder saving in the Browser LocalStorage the last visited directory
                commands: myCommands,
                //lang: 'pt_BR', // elFinder supports UI and messages localization. Check the folder Content\elfinder\js\i18n for all available languages. Be sure to include the corresponding .js file(s) in the JavaScript bundle.
                ui: ['toolbar', 'tree', 'path', 'stat'],
                uiOptions: { // UI buttons available to the user
                    toolbar: [
                        ['back', 'forward'],
                        ['reload'],
                        ['home', 'up'],
                        ['mkdir', 'mkfile', 'upload'],
                        ['open', 'download'],
                        ['undo', 'redo'],
                        ['info'],
                        ['quicklook'],
                        ['copy', 'cut', 'paste'],
                        ['rm'],
                        ['duplicate', 'rename', 'edit'],
                        ['selectall', 'selectnone', 'selectinvert'],
                        ['view', 'sort']
                    ]
                },
                getFileCallback : function(file) {
                    var retUrl = file.url.substring(file.url.indexOf('/public/upload'));
                    window.opener.CKEDITOR.tools.callFunction(funcNum, retUrl);
                    window.close();
                },
				resizable: false,
                lang: 'vi'
            };
            var elfinder = $('#elfinder').elfinder(options).elfinder('instance');
            elfinder.one('load', function (event) {
                $('#elfinder').css('height', document.documentElement.clientHeight - 20);
                $('#elfinder').css('position', 'unset');
                $('#elfinder').css('border-radius', '4px');
            });
        });
    </script>
	</body>
</html>