@inject CMS.Helpers.ContextHelper ctxHelper
@using CMS.Helpers
@{
    var settings = ctxHelper._context.GlobalSettings.FirstOrDefault();
    if (settings == null) settings = DefaultGlobalSettings._DefaultSettings;
    else settings = settings.MapSettings();
    var left_menu = ctxHelper._context.Menus.Where(m => m.Alias == "FOOTER_MENU_LEFT").First();
    var right_menu = ctxHelper._context.Menus.Where(m => m.Alias == "FOOTER_MENU_RIGHT").First();
    var left_menu_items = ctxHelper._context.MenuItems.Where(i => i.MenuId == left_menu.Id && i.Published == true).OrderBy(i => i.Order).ToList();
    var right_menu_items = ctxHelper._context.MenuItems.Where(i => i.MenuId == right_menu.Id && i.Published == true).OrderBy(i => i.Order).ToList();
}
<hr class="divider-d">

<div class="scroll-up">
    <a href="#totop">
        <i class="fa fa-angle-double-up"></i>
    </a>
</div>

<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2022 &nbsp;<a href="index.html">Thu Hải</a>, All Copy Rights</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-dribbble"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-skype"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

