@using CMS.Helpers
@model CMS.Areas.StaticPages.Models.StaticPage
@{
    Layout = "~/Views/Shared/Public/_Layout_Home.cshtml";
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.ShortDesc;
    ViewData["Url"] = "http://daotao.mitechcenter.vn/trang/" + Model.Slug;
    ViewData["Image"] = "http://daotao.mitechcenter.vn/assets/web/images/logo.png";
}
<nav class="nav-breadcrumb pt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">
            <span>@Model.Title</span>
        </li>
    </ol>
</nav>

<section class="page" id="detail">
    <h1 style="font-size: 18px;color: #dc2f27;line-height: 22px;">
        <strong>@Html.DisplayFor(model => model.Title)</strong>
    </h1>
    @Html.DisplayFor(model => model.Content)
</section>